html {

}

body {
    font-family: 'Karla', sans-serif;
    font-Size: 18px;
    color: #666;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

/* footer {
    width: 100%;
    background: #ccc;
    padding: 10px;
    margin-top: 40px;
    color:#fff;
    line-height: 1.3em;
}

footer a, footer a:visited {
    color:#fff;
    text-decoration: none;
}

footer a:hover {
    color:#fff;
    text-decoration: underline;
} */

strong {
    font-weight: bold;
}

td {
    border: 1px solid #ccc;
}

table {
    width: 100%;
}

tr {
    width: 100%;
}


/* My Theme */

#contact img {
    float: left;
    width: 20%;
    margin-bottom: 18%;
    margin-right: 50px;
    /* color: #fff; */
}

#about {
    /* background-color: #4A4E69; */
    /* color: #f1e8e3; */

}

#about a, #about a:visited {
    color:#fff9c7;
}

#about a:hover {
    color: #fbe180;
}

section#services {
    /* background-color: #998b97; */
    /* text-align: center; */
}

#experience {
    /* background-color: #c8aca6; */
}

#education {
    /* background-color: #f1e8e3;
    color: #4A4E69; */
}

#contact {
    /* background-color: #4A4E69;
    color: #c8aca6; */
}

/* Color Scheme */
 /* .color2 {background-color: #0e5156; color:  #d7dae1;} 
 .color1 {background-color: #0b3041; color:  #d7dae1;} 
 .color3 {background-color: #9b91a2;} 
 .color4 {background-color: #c5b8cc;} 
 .color5 {background-color: #d5d2ef;} 
 .color6 {background-color: #f7f7f8;} */


 .color2 {background-color: #2aa48d; color:  #fff;} 
 .color1 {background-color: #0a2241; color:  #fff;} 
 .color3 {background-color: #83bb9c;} 
 .color4 {background-color: #fefcf6;} 
 .color5 {background-color: #f36196; color: #fefcf6;} 
 .color6 {background-color: #fefcf6;}
 
.color3 h2, .color3 .lead {
    color: #fff;
}

.color4 h2 {
    color: #2aa48d;
}

 .color5 a, .color5 a:visited {
     color: #fff;
 }

 .color5 h2 {
     color: #fbe180;
 }

 .positive {
     background-image: url(../images/positive.png);
 }

 .dark-primary-color    { background: #0a2241; }
 .default-primary-color { background: #2aa48d; }
 .light-primary-color   { background: #83bb9c; }
 .text-primary-color    { color: #FFFFFF; }
 .accent-color          { background: #f36196; }
 .primary-text-color    { color: #212121; }
 .secondary-text-color  { color: #757575; }
 .divider-color         { border-color: #BDBDBD; }

 .shadow {
    -webkit-box-shadow: -21px 18px 21px 0px rgba(122,122,122,0.64);
    -moz-box-shadow: -21px 18px 21px 0px rgba(122,122,122,0.64);
    box-shadow: -21px 18px 21px 0px rgba(122,122,122,0.64);
 }

 .project {
     background: #fff;
 }

 .card-img {
     border: 1px solid #fff;
     /* padding-right: 10px; */
 }

 .card-img:hover {
     /* border: 5px solid #c5b8cc; */
 }

 .card-body {
     /* background: none !important; */
 }

 .card-body a, .card-body a:visited {
    color:#0e5156;
 }

 .card-body a:hover {
    color: #0b3041;
 }

 .card {
     /* background: none; */
     padding: 25px;
     margin-bottom: 40px !important;
     border: none;
 }

 .card img {
    /* padding: 10px; */
    border-radius: 15px;
 }

 .card h5 {
     color: #9b91a2;
 }

 div {
     /* border: 2px solid gray; */
 }

 .school-logo {
    width: 55px;
    margin-right: 10px;
 }