html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-Size: 18px;
    color: #666;
    background: #372c5e;
}

img {
    width: 100%;
}

a, a:visited {
    color: #333;
    -webkit-transition-property: -webkit-color; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: color;
    transition-duration: .5s;
}

a:hover {
    color:#6d56c1;
}

.shape59{ display:inline-block!important;position:relative;width:30px;height:30px;border-radius:100%;background-color:#6D56C1;border:calc(30px/8) solid #6D56C1;box-sizing:content-box}
.shape59:before{ position:absolute;content:'';margin:auto;width:calc(30px/3.5);height:calc(30px/3.5);background:rgba(0,0,0,0);border:calc(30px/8) solid #fff;border-right:none;border-top:none;top:calc(30px/8);bottom:0;left:0;right:0;transform:rotate(135deg);box-sizing:content-box}
.shape59:hover { background-color:#8c70f0;}
.top-arrow { text-align: center; margin-top: 20px; padding-top: 40px; clear: both; }

h1, h2, h3, h4, h5 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

h4 {
    /* font-size: 1.3rem !important; */
}

.content-bg h3 {
    border-left: 12px solid #ccc;
    padding-left: 20px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 2px;
    margin-top: 20px;
}


/* Navbar */
nav {
    background: #333;
    box-shadow: 0px 10px 10px rgba(0,0,0,.15);
    margin: 0 auto;
    padding: 20px;
    border-bottom: 12px solid #222;
}

ul.navbar-nav {
    margin-top: 10px;
}

ul.navbar-nav li {
    margin: 5px 0;
}

.nav-item a, .nav-item a:visited {
    padding: 5px 20px;
    margin: 0 20px;
    text-transform: uppercase;
    color: #fff !important;
    border: 2px solid transparent;
    -webkit-transition-property: -webkit-padding-left; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: padding-left;
    transition-duration: .5s;
    border-radius: 15px;
}

.nav-item a:hover {
    border: 2px solid #ccc;
    padding-left: 10px;
}

.nav-item a.active {
    /* background: #fff; */
    border: 2px solid #ccc;
    padding-left: 10px;
}



/* Layout CSS */
#home {
    color: #fff;
    padding-bottom: 40px;
    /* z-index: 2;
    position: relative;
     */
}

#logo-image {
    width: 40%;
    margin: 15px 0 15px 0;
}

.content-bg {
    padding: 15px;
    background: #fff;
    border-radius: 4px;
    margin: 15px;
}

.drop-shadow {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2) inset;
    border-radius: 4px;
}



/* Home */
.lake {
    background-image: url('../images/lake7.png') !important;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.lake li {
    list-style-type: none;
}

.lake a, .lake a:visited {
    color: #fff;
}



/* About */
.about-heading {
}

.about-content {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    /* background: #8570a8; */
    border-bottom: 10px solid #8570a8;
}

.btn {
    background: #6f79bd;
    color: #fff;
}

.btn:hover {
    background: #333;
}





/* Projects */
.project-div {
    border-radius: 10px;
    /* padding: 10px; */
    border: 3px solid #6f75b6;
    text-align: center;
    border-top: 10px solid #6f75b6;
    border-bottom: 10px solid #6f75b6;
}

.project-div img {
    border: 2px solid #666;
    margin: 15px auto;
    width: 90%;
    border-radius: 4px;
}

.project-div h4 {
    margin: 20px 0 0;
    background: #6f75b6;
    padding: 10px;
    color: #fff;
    
}

.project-div a, .project-div a:visited {
    color: #fff;
    margin: 5px 0;
}

.project-tags {
    margin: 0 0 20px 0;
    padding: 0;
}
.project-tags li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 85%;
    padding: 0 10px;
    border-radius: 2px;
    margin: 4px 0;
}

.card {
    border: 0;
    border-bottom: 10px solid #8570a8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-text a, .card-text a:visited {
    color: #fff;
    margin: 0 5px 5px 0;
}

.card-deck {
    margin-bottom:40px;
}

/* Education */
.school-logo {
    width: 55px;
    margin-right: 20px;
    float: left;
}

#education h4, #contact h4 {
    margin-bottom: 0;
    font-size: 1.1rem;
}

#education .lead {
    font-size: 1rem;
}



/* Contact */
#contact {
    background-color: #372c5e;
}

.about-wrap {
    width: 100%;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    font-size: 1rem;
}

.about-left {
    text-align: right;
    /* width: 30%; */
    float: left;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: .9e;
    letter-spacing: .1em;
    color: #6f61bf;
    font-weight: 800;
}

.about-right {
    /* width: 70%; */
    float: left;
    text-align: left;
}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        background: #f1f1f1;
    }

    #logo-image {
        width: 20%;
    }

    .content-bg {
        padding: 60px;
        margin: 40px;
    }

    .project-div h4 {
        margin: 20px 0 0;
        background: #6f75b6;
        padding: 20px 10px;
        color: #fff;
    }

    .project-div img {
        width: 70%;
        margin: 30px 0;
        border-radius: 10px;
    }

    .project-div p {
        width: 70%;
        margin: 0 auto 20px;
    }

    .card {
        margin: 10px 30px !important;
    }

}